body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("clean-medical.webp");
    background-position: center cover;
    background-size: cover;
    background-repeat: no-repeat;
    
}

 .container{
     display: flex;
     flex-direction: row;
     align-items: center; 
     justify-content: space-between; 
     margin-bottom: 250px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin-inline-start: 30px;
    list-style: none;
}


button{
    margin-left: 250px;
    padding: 10px;
    border-radius: 1cm;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: bold;
    background-color: rgb(98, 214, 223);
}

.main{
    margin-top: 0px;
    
    
}
/*img{
    height: 20px;
    width: 200px;
}/*





